<div class="container mt-4">
    <h2>Ajouter un Todo<i class="fa-solid fa-xmark" (click)="hideForm()"></i></h2>
    <form #todoForm="ngForm" (ngSubmit)="onSubmit(todoForm)">
      <div class="mb-3">
        <label for="title" class="form-label">Titre</label>
        <input
          type="text"
          id="title"
          class="form-control"
          name="title"
          ngModel
          required
        />
      </div>
      <div class="mb-3">
        <label for="description" class="form-label">Description</label>
        <textarea
          id="description"
          class="form-control"
          name="description"
          ngModel
        ></textarea>
      </div>
      <div class="mb-3">
        <label for="date" class="form-label">Date</label>
        <input
          type="date"
          id="date"
          class="form-control"
          name="date"
          ngModel
          required
        />
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!todoForm.valid">
        Ajouter
      </button>
    </form>
  </div>
  